<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>imgName</key>
		<string>manual_gouwu_before</string>
		<key>picName</key>
		<string>classify_icon_shop2x</string>
		<key>title</key>
		<string>购物消费</string>
		<key>detailArr</key>
		<array>
			<string>日常用品</string>
			<string>服装鞋帽</string>
			<string>化妆护肤</string>
			<string>电器数码</string>
			<string>美容美发</string>
			<string>虚拟物品</string>
			<string>人情红包</string>
			<string>彩票</string>
			<string>礼物</string>
			<string>饰品</string>
			<string>香烟</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>imgName</key>
		<string>manual_yinshi_before</string>
		<key>picName</key>
		<string>classify_icon_diet2x</string>
		<key>title</key>
		<string>餐饮</string>
		<key>detailArr</key>
		<array>
			<string>早餐</string>
			<string>中餐</string>
			<string>下午茶</string>
			<string>晚餐</string>
			<string>夜宵</string>
			<string>请客吃饭</string>
			<string>买菜</string>
			<string>零食</string>
			<string>水果</string>
			<string>饮料酒水</string>
			<string>干果</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>imgName</key>
		<string>manual_jiaotong_before</string>
		<key>picName</key>
		<string>classify_icon_transportation2x</string>
		<key>title</key>
		<string>交通费</string>
		<key>detailArr</key>
		<array>
			<string>公共交通</string>
			<string>打车</string>
			<string>加油</string>
			<string>日常养护</string>
			<string>停车费</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>imgName</key>
		<string>manual_xiuxian_before</string>
		<key>picName</key>
		<string>classify_icon_recreation2x</string>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>detailArr</key>
		<array>
			<string>电影</string>
			<string>KTV</string>
			<string>按摩理疗</string>
			<string>运动健身</string>
			<string>棋牌桌游</string>
			<string>旅游度假</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>imgName</key>
		<string>manual_jiaju_before</string>
		<key>picName</key>
		<string>classify_icon_household2x</string>
		<key>title</key>
		<string>居家生活</string>
		<key>detailArr</key>
		<array>
			<string>房租房贷</string>
			<string>生活费</string>
			<string>家政清洁</string>
			<string>物业水电煤</string>
			<string>话费宽带</string>
			<string>宠物</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>imgName</key>
		<string>manual_yiliao_before</string>
		<key>picName</key>
		<string>classify_icon_medical2x</string>
		<key>title</key>
		<string>健康医疗</string>
		<key>detailArr</key>
		<array>
			<string>医疗费</string>
			<string>住院治疗费</string>
			<string>药品费</string>
			<string>诊断费</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>imgName</key>
		<string>manual_wenhua_before</string>
		<key>picName</key>
		<string>classify_icon_education2x</string>
		<key>title</key>
		<string>文化教育</string>
		<key>detailArr</key>
		<array>
			<string>学杂费</string>
			<string>书报杂志</string>
			<string>培训考试</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>imgName</key>
		<string>manual_touzi_before</string>
		<key>picName</key>
		<string>classify_icon_investment2x</string>
		<key>title</key>
		<string>投资理财</string>
		<key>detailArr</key>
		<array>
			<string>保险</string>
			<string>股票基金</string>
			<string>理财产品</string>
			<string>信托</string>
			<string>其他投资</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>imgName</key>
		<string>manual_qita_before</string>
		<key>picName</key>
		<string>classify_icon_other2x</string>
		<key>title</key>
		<string>其他支出</string>
		<key>detailArr</key>
		<array>
			<string>捐款</string>
			<string>丢失</string>
			<string>理财亏本</string>
			<string>罚款</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>imgName</key>
		<string>manual_qita_before</string>
		<key>picName</key>
		<string>classify_icon_income2x</string>
		<key>title</key>
		<string>收入</string>
		<key>detailArr</key>
		<array>
			<string>工资</string>
			<string>奖金</string>
			<string>补贴</string>
			<string>中奖</string>
			<string>礼金人情</string>
			<string>理财收入</string>
			<string>其他</string>
		</array>
	</dict>
</array>
</plist>
